<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Social Media</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper" style="padding: 0 24px;">
      <a href="/" class="brand-logo center">
        <i class="material-icons" style="vertical-align: middle; margin-right: 8px;">people</i>
        Social Media
      </a>
    </div>
  </nav>

  <div class="hero">
    <i class="material-icons" style="font-size: 64px; margin-bottom: 16px;">public</i>
    <h1>Bienvenido a Social Media</h1>
    <p>Conéctate, comparte y explora publicaciones de todo el mundo</p>
    <a href="/posts/" class="btn btn-white btn-large waves-effect waves-light">
      <i class="material-icons left">explore</i>Explorar Posts
    </a>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>